.left-col {
  padding: 3vw;
  height: 95vh;
  background-image: url('../../public/hero-image-auth.png');
  background-size: cover;
  background-position: center;
  color: white;
}

// @media only screen and (max-width: 768px) {
//   .left-col {
//     height: 25vh;
//   }
// }